.color {
    color: black;
    background-color: #fff;
    border-radius: 4px;
    border: 1px solid #ddd;
}

.normal {
    color: black;
}

.add {
    background-color: rgb(236, 253, 240);
}

.removed {
    background-color: rgb(251,233,235);
}

.pre {
    margin: 0;
    vertical-align: top;
    display: inline-block;
}

.button {
    margin-top: 5px;
    margin-bottom: 5px;
    text-align: center;
    color: brown;
    border: 1px solid brown;
}

.content {
    padding-left: 2%;
    padding-right: 2%;
    background-color: rgba(255, 255, 255, 0.2);
}

.outerPre {
    width: calc(100% - 88px);
    display: inline-block;
}

.innerPre {
    margin: 0;
    word-wrap: break-word;
    word-break: break-all;
    white-space: normal;
}

.line {
    color: rgba(27,31,35,.3);
    width: 88px;
}

.colLeft {
    display: inline-block;
    color: #586069;
    width: 88px;
    background-color: #dbedff;
}

.splitWidth {
    width: 44px;
}

.collRight {
    display: inline-block;
    width: calc(100% - 88px);
    vertical-align: top;
}

.collRightSplit {
    width: calc(100% - 44px);
}

.colRContent {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 16px;
    background-color: #f1f8ff;
}

.octicon {
    fill: currentColor;
}

.arrow {
    display: flex;
    align-items: center;
    justify-content: center;
}

.arrow:hover {
    color: #fff;
    background-color: rgb(3, 102, 214);
}

.cRHeight {
    height: 32px;
}

.sPart {
    display: inline-block;
    vertical-align: top;
    width: 50%;
}

.iBlock {
    display: inline-block;
    width: 50%;
}

.prBlock {
    width: 100%;
}

.splitLN {
    width: 44px;
    display: inline-block;
    white-space: pre-wrap;
}

.splitCon {
    display: inline-block;
    white-space: pre-wrap;
    vertical-align: top;
    width: calc(100% - 44px);
}

.filled {
    width: calc(100% - 52px);
}

.radioGroup {
    display: flex;
    margin-top: 5px;
    margin-bottom: 5px;
    justify-content: flex-end;
    align-items: center;
    padding-left: 2%;
    padding-right: 2%;
}

.lBorder {
    border-right: 1px solid #ddd;
}

.rBorder {
    border-left: 1px solid #ddd;
    position: relative;
    left: -1px;
}