.color {
    color: black;
    background-color: #fff;
    border-radius: 4px;
    border: 1px solid #ddd;
}

.normal {
    color: black;
}

.add {
    background-color: rgb(236, 253, 240);
}

.removed {
    background-color: rgb(251,233,235);
}

.pre {
    margin: 0;
    display: inline-block;
}

.button {
    margin-top: 5px;
    margin-bottom: 5px;
    text-align: center;
    color: brown;
    border: 1px solid brown;
}

.content {
    padding: 2%;
    background-color: rgba(255, 255, 255, 0.2);
}

.line {
    color: rgba(27,31,35,.3);;
}